[submodule "src/js/contracts/reference/lib/solmate"]
	path = src/js/contracts/reference/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "src/js/contracts/reference/lib/forge-std"]
	path = src/js/contracts/reference/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
