[submodule "src/js/contracts/reference/lib/solmate"]
	path = src/js/contracts/reference/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "src/js/contracts/reference/lib/forge-std"]
	path = src/js/contracts/reference/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/js/contracts/reference/lib/openzeppelin-contracts"]
	path = src/js/contracts/reference/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "src/js/contracts/reference/lib/protocol-monorepo"]
	path = src/js/contracts/reference/lib/protocol-monorepo
	url = https://github.com/superfluid-finance/protocol-monorepo
